<div class="jumbotron">
	<h1>About Pinteresting</h1>
	<p>This is a project to recreate a Pinterest clone web application.
	<br> This project will be utilizing the following technologies:</p> 
		<ul>
  			<li>Ruby on Rails for web development</li>
   			<li>GitHub for version control</li>
  			<li>Bootstrap for front-end customization</li>
  			<li>Heroku for web app deployments</li>
  			<li>Devise for user registration</li>
  			<li>PaperClip for image upload and processing</li>
  			<li>Amazon S3 for image storage</li>
		</ul>
	<p>Along with these technologies, it will also incorporate some of the most popular web app methodologies - such as like MVC. 
	</p>
</div>
