<div class="jumbotron">
	<h1>About Pinteresting</h1>
	<p>This is a project to recreate a Pinterest clone web application.
	<br> This project will be utilizing the following technologies:</p> 
		<ul>
  			<li>Ruby on Rails for web development</li>
   			<li>GitHub for version control</li>
  			<li>Bootstrap for front-end customization</li>
  			<li>Heroku for web app deployments</li>
  			<li>Devise for user registration</li>
  			<li>PaperClip for image upload and processing</li>
  			<li>Amazon S3 for image storage</li>
		</ul>
	<p>Feel free to sign up and play around! Hope you enjoy!</p>
	<p>GitHub Repo link <a href="https://github.com/EfrainPlascencia/pinteresting" target="_blank"> here</a>.</p>
</div>
